.h1-title{
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.style-header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 10px;
}
